<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">NiceH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Główna
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wykresy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-12"><br><br><br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Aktualne informacje</h3>
              <h6 class="card-subtitle mb-2 text-muted">Konto: {{wallet}}</h6>
              <p class="card-text">Kurs BTC/PLN: {{btcPln}} zł</p>
              <p class="card-text">Wydobyte: {{balance | number : '1.8-8'}} BTC - {{btcPln * balance| number : '1.2-2'}} zł</p>
              <p class="card-text">Ostatnie 24h: {{last24h | number : '1.8-8'}} BTC - {{btcPln * last24h| number : '1.2-2'}} zł</p>
              <button type="button" class="btn btn-primary" (click)="refAI()">Aktualizuj</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Lista kopaczy</h3>
              <ul>
                <li *ngFor="let worker of workers">
                  {{worker[0]}}{{worker[1].a}}
                </li>
              </ul>
              <a href="#" class="btn btn-primary">Aktualizuj</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-diagrams></app-diagrams>
</div>
